.App {
  text-align: center;
}

/* HEADER COMPONENT */
.header{
  margin-top: 20px;
  background-color: cadetblue;
  border-radius: 5px;
  color: white;
  margin-bottom: 30px;
}

/* EVENT COMPONENT */
.users{
  background-color: cadetblue;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.play-mode{
  font-style: italic;
  font-weight: bold;
}
.left{
  /* margin-top: 30px; */
  border-right: 2px solid gray;
}
.select{
  margin-bottom: 50px;
  text-decoration: underline;
}
.selected{
  margin-top: 50px;
  border-top: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  padding-right: 115px;
  display: flex;
  justify-content: space-between;
}
.selected-machine{
  margin-top: 220px;
  border-top: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  padding-right: 115px;
  display: flex;
  justify-content: space-between;
}
.rock{
  background-image: url("../public/rock.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 80px;
  border-radius: 5px;
}

.paper{
  background-image: url("../public/paper.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 80px;
  border-radius: 5px;
}
.scissor{
  background-image: url("../public/scissor.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 80px;
  border-radius: 5px;
  padding: 0;
}
.selected-rock{
  background-image: url("../public/rock.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 80px;
  border-radius: 5px;
}
.selected-paper{
  background-image: url("../public/paper.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 80px;
  border-radius: 5px;
}
.selected-scissor{
    background-image: url("../public/scissor.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 80px;
    border-radius: 5px;
}
.selected-rockflip{
  background-image: url("../public/rockflip.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 80px;
  border-radius: 5px;
}
.selected-paperflip{
  background-image: url("../public/paperflip.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 80px;
  border-radius: 5px;
}
.selected-scissorflip{
    background-image: url("../public/scissorflip.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 80px;
    border-radius: 5px;
}
.result{
  margin-top: 20px;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 15px;
}