.App {
  text-align: center;
}

/* HEADER COMPONENT */
.header{
  margin-top: 20px;
  background-color: cadetblue;
  border-radius: 5px;
  color: white;
  margin-bottom: 30px;
}

/* EVENT COMPONENT */

.play-mode{
  font-style: italic;
  font-weight: bold;
}
.left{
  /* margin-top: 30px; */
  border-right: 2px solid gray;
}

